################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Agenda/v17
/.vs/Agenda/FileContentIndex
/.vs
